streamlit
pandas==2.1.4
sqlalchemy
plotly
langchain
langchain-core
langchain-community
langchain-google-genai
langchain-experimental
langchain-text-splitters
databricks-sql-connector
databricks-sqlalchemy
openpyxl
langgraph
pypdf
faiss-cpu
sentence-transformers