streamlit
pandas==2.1.4
sqlalchemy
plotly
langchain>=0.2.10
langchain-core>=0.2.30
langchain-community>=0.2.10
langchain-google-genai>=1.0.8
langchain-experimental
databricks-sql-connector
databricks-sqlalchemy
openpyxl
langgraph>=0.2.10